{% extends "header.html" %}

{% block body %}
	<section class="height-650 valign-wrapper">
	<p></p>
	<p>
              <div class="row">
                <div class="col-md-12">

                    <div class="border-bottom-tab">

                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab-1" role="tab" data-toggle="tab">Machine Learning</a></li>
                        <li role="presentation"><a href="#tab-2" role="tab" data-toggle="tab">Data Science Projects</a></li>
                        <li role="presentation"><a href="#tab-3" role="tab" data-toggle="tab">Statistics</a></li>
						<li role="presentation"><a href="#tab-4" role="tab" data-toggle="tab">Python</a></li>
                    </ul>

                      <!-- Tab panes -->
                      <div class="panel-body">
                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
							<ul>
								{% for t in TOPIC_DICT["Basics"] %}
								<li align="left"><a href="{{t[1]}}">{{t[0]}}</a></li>		
							{% endfor %}
							</ul>
						  
						  
						  
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab-2">
								<ul>
									{% for t in TOPIC_DICT["projects"] %}
									<li align="left"><a href="{{t[1]}}">{{t[0]}}</a></li>		
									{% endfor %}
								</ul>
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab-3">
									<ul>
										{% for t in TOPIC_DICT["stats"] %}
										<li align="left"><a href="{{t[1]}}">{{t[0]}}</a></li>		
										{% endfor %}
									</ul>
                          </div>
						  <div role="tabpanel" class="tab-pane fade" id="tab-4">
									<ul>
										<li align="left"><a href="">Python 3 Related Pages</a></li>		
									</ul>
                          </div>
                        </div>
                      </div>

                    </div><!-- /.border-bottom-tab -->

                </div><!-- /.col-md-12 -->
              </div><!-- /.row -->
			  </p>
</section>

{% endblock %}


