{% extends "header.html" %}

{% block body %}



  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Machine Learning</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Data Science Projects</a></li>
        <li class="tab col s3"><a href="#test3">Statistics</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
		<ul>
			{% for t in TOPIC_DICT["Basics"] %}
			<li align="left"><a href="{{t[1]}}">{{t[0]}}</a></li>		
		{% endfor %}
		</ul>
	</div>
    <div id="test2" class="col s12">
		<ul>
			{% for t in TOPIC_DICT["projects"] %}
			<li align="left"><a href="{{t[1]}}">{{t[0]}}</a></li>		
			{% endfor %}
		</ul>
	</div>
    <div id="test3" class="col s12">Test 3</div>
  </div>


{% endblock %}