{% extends "header.html" %}
{% block body %}
<div class="container">
        <!-- Hero Section -->
        <section class="corporate-banner-1 bg-fixed parallax-bg height-650 valign-wrapper" data-stellar-background-ratio="0.2">
            <div class="valign-cell">
              <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <h1 class="intro-title text-capitalize">Data Science Notebook</h1>
                        <p class="lead">A curated list of projects &amp; notes related to Data Science, Machine Learning and so on.</p>
                        <a href="/dashboard" class="btn btn-lg waves-effect waves-light  light-blue darken-4 mt-20">Start Learning</a>
                    </div><!-- row -->
                </div><!-- row -->
              </div><!-- /.container -->
            </div><!-- /.valign-cell -->
					
        </section>
        <!-- Hero Section End -->
</div>

{% endblock %}
