{% extends "header.html" %}

{% block body %}
	  
	  				      <div class="row">
        <div class="col s12 m8">
          <div class="card blue-grey darken-1">
		  
		   <div class="card-content white-text">
              <span class="card-title">Matplotlib Plot rendered using Flask and Python..</span>
              <p>A curated list of projects and notes related to Data Science, Machine Learning and so on</p>
			  <div class="card-action">
              <a href="/dashboard/" >
				<button class="btn waves-effect waves-light" type="submit" name="action">Dashboard
				<i class="material-icons right">send</i>
				</button>
				</a>
            
            </div>
            </div>
			
			</div>
			
		  <div class="card-image">
		  <a href="/dashboard/" >
              <img src="/testplot">
              <span class="card-title"><i><small>Renjith Madhavan</small></i></span>
			  </a>
            </div>
			
			
           
            
          </div>
        </div>
     

{% endblock %}